<template name="description">
  <br>
  <div id="wrapper">
    <div align = "center" margin="auto">
      <table align = "center" margin="auto" class="table">
        <tr>
          <td>Date:</td>
          <td><input type="text" readonly="true" id="datepicker"></td>
        </tr>
        <tr>
          <td>Time:</td>
          <td><input type="text" readonly="true" id="timepicker"></td>
        </tr>
        <tr>
          <td valign="top">Description</td>
          <td><input type="text" id="input-description" placeholder="Write a description" display="inline-block"></td>
        </tr>
        <tr>
          <td></td>
          <td><button class="submit" style="color:black"> Submit Report </button></td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
</template>
